<!-- navbar -->
<nav class="navbar navbar-expand-md navbar-light navColor fixed-top">
    <div class="col-lg-2">
        <a class="navbar-brand imgLogo"><img src="../../assets/images/white-label.png"></a>
    </div>
    <div class="col-lg-8 textNav" id="nav">
        Library Management System
    </div>
    <div class="col-lg-2" *ngIf="currURL != '/login' && currURL != '/register'">
        <button type="button" (click)="userLogout()" class="btn btn-link tabColor tab">Logout</button>
    </div>
</nav>